﻿@model MyDocWeb.ViewModels.UserLoginViewModel
@{
    ViewBag.Title = "Авторизация";
}



<div class="col-xs-3 col-md-offset-4">

    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ReturnUrl)
        @Html.LabelFor(m => m.Login)
        <br />
        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Login)
        <br />
        @Html.LabelFor(m => m.Password)
        <br />
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
        <br />
        @Html.ValidationMessageFor(m => m)
        <br />

        <div class="col-md-offset0 col-md-13">
            <button class="btn" style="width: 100%">Войти</button>
        </div>
    }

</div>