﻿@model MyDocWeb.ViewModels.DocumentViewModel

@{
    ViewBag.Title = "Добавить документ";
}

<div class="col-xs-3 col-md-offset-4">

    @using (Html.BeginForm("Add", "Documents", FormMethod.Post, new { enctype = "multipart/form-data", id = "formAdd" }))
    {
        @Html.LabelFor(m => m.Name)
        <br />
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)

        <br />

        <input class="btn" style="width: 100%" type="file" name="upload" id="vFile"/>
        <span class="field-validation-error">
            <span  class="" id="valEr" style="display: none;">
                Необходимо выбрать документ
            </span>
        </span>
        @Html.ValidationMessageFor(m => m)

        <br />

        <div class="col-md-offset0 col-md-13">
            <button class="btn" style="width: 100%">Добавить</button>
        </div>
    }
</div>


<script type="text/javascript">

    function checkFileValue()
    {
        var fileValue = $("#vFile").val();
        if (fileValue == "") {
            $("#valEr").show();
            $("#vFile").addClass('input-validation-error');
            return false;
        }
        else {
            $("#valEr").hide();
            $("#vFile").removeClass('input-validation-error');
            return true;
        }
    }

    $(document).ready(function ()
    {
        $("#formAdd").submit(function ()
        {
            return checkFileValue();
        });

        $("#vFile").change(function () {
            return checkFileValue();
        });
    });
</script>