﻿@using MyDocWeb.ViewModels
@using MyDocWeb.Extensions
@model DocumentListViewModel

@{
    ViewBag.Title = "Документы";
}

<div>
    <div class="col-md-offset0 col-md-13">
        <a href="@Url.Action("Add", "Documents")"><button class="btn">Добавить документ</button></a>


        @Html.Partial("_SearchField", Model.SearchString)


        <div>
            <table class="content">
                <tr>
                    <td width="25%">
                        <p>
                            @Html.ActionLink("Название", "Index", Request.QueryString.ToRouteValueDictionary("sorting", Model.SortParams["Name"]))
                            @Html.SortIdentifier(Model.Sorting.ToString(), DocumentSorting.Name.ToString())

                        </p>
                    </td>
                    <td width="25%">
                        <p>
                            @Html.ActionLink("Название файла", "Index", Request.QueryString.ToRouteValueDictionary("sorting", Model.SortParams["FileName"]))
                            @Html.SortIdentifier(Model.Sorting.ToString(), DocumentSorting.FileName.ToString())
                        </p>
                    </td>
                    <td width="15%">
                        <p>
                            @Html.ActionLink("Дата создания", "Index", Request.QueryString.ToRouteValueDictionary("sorting", Model.SortParams["CreateDate"]))
                            @Html.SortIdentifier(Model.Sorting.ToString(), DocumentSorting.CreateDate.ToString())
                        </p>
                    </td>
                    <td width="33%">
                        <p>
                            @Html.ActionLink("Автор", "Index", Request.QueryString.ToRouteValueDictionary("sorting", Model.SortParams["Author"]))
                            @Html.SortIdentifier(Model.Sorting.ToString(), DocumentSorting.Author.ToString())
                        </p>
                    </td>
                    <td width="2%"></td>
                </tr>
                @foreach (var document in Model.Documents)
                {
                    <tr>
                        <td>
                            @if (document.Name.Length > 30)
                            { <p title="@document.Name">@(document.Name.Substring(0, 30) + "...")</p> }
                            else
                            { <p>@document.Name</p> }
                    </td>
                    <td>
                        @if (document.FileName.Length > 30)
                        { <p title="@document.FileName">@(document.FileName.Substring(0, 30) + "...")</p> }
                        else
                        { <p>@document.FileName</p> }
                </td>
                <td><p>@document.CreateDate</p></td>
                <td><p>@document.AuthorString</p></td>
                <td>
                    <p>
                        <a href="@Url.Action("Download", "Documents", new { FileGuid = document.FileGuid } )">
                            <img src="/Resources/icons/download.png" title="Скачать" alt="Скачать" height="20" width="20">
                        </a>
                    </p>
                </td>
            </tr>
                }
            </table>
        </div>
    </div>
</div>

@if (TempData["errorMessage"] != null)
{
    <script>
    $(document).ready(function () {
        alert('@TempData["errorMessage"].ToString()');
    });
    </script>
}