﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__logo">
            </div>
            @if (Request.IsAuthenticated)
            {
                <nav class="header__nav">
                    <ul>
                        <li class="header__nav">@Html.ActionLink("Документы", "Index", "Documents")</li>
                        <li class="header__nav">@Html.ActionLink("Добавить документ", "Add", "Documents")</li>
                    </ul>
                </nav>
                <div class="header__account">
                    @ViewBag.FullName
                </div>
                <a href="@Url.Action("LogOut", "Account")">
                    <div class="header__logaut">
                    </div>
                </a>
            }
        </header>

        <div class="middle">
            <main class="content">
                @RenderBody()
            </main>
        </div>
        <footer class="footer">© 2018 Карлов Павел Геннадьевич</footer>
    </div>
</body>
</html>

