﻿@model string
<div class="search-box" style="float: right;">
    <form class="form-inline">
        <div class="form-group">
            <input type="text" name="searchString" value="@Model" class="search-text form-control" placeholder="Поиск..." />
        </div>
        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
    </form>
</div>